@{
    ViewBag.Title = "Contato";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Fortaleza, CE<br />
    <abbr title="Celular">Celular:</abbr>
    85 999 574 161
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:moises.son@gmail.com">moises.son@gmail.com</a><br />
</address>