@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>CsvTransformer</h1>
    <p class="lead">Aplicação desenvolvida em ASP.NET utilizando basicamente HTML, CSS and JavaScript.</p>
    <p>Acesse o menu XLS ou <span>@Html.ActionLink("clique aqui", "XlsToCsv", "Converter")</span> para acessar a funcionalidade principal.</p>
    <p>Aplicação tanto pode ser executa a partir do projeto "csvTransformer" ou "csvTransformer.cloud", pois também está pronta para rodar no Azure. Caso queira testar a versão Cloud Service, será necessário conta no Azure ou o emulador instalado.</p>
    <p><a href="https://github.com/moisesfilho/csvTransformer" class="btn btn-primary btn-lg">Repositório Git &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Castle Windsor</h2>
        <p>
            Utilizado projeto Castle Windsor para realização de Injeção de Dependências.
        </p>
        <p><a class="btn btn-default" href="http://www.castleproject.org/">Leia mais &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>TDD e NUnit</h2>
        <p>Desenvolvimento realizado com técnicas de TDD e utilizando NUnit com framework de testes.</p>
    </div>
    <div class="col-md-4">
        <h2>DataExcelReader</h2>
        <p>O Pacote DataExcelReader também foi utilizado para realização da leitura dos arquivos do Excel.</p>
        <p><a class="btn btn-default" href="https://github.com/ExcelDataReader/ExcelDataReader">Leia mais &raquo;</a></p>
    </div>
</div>