@{
    ViewBag.Title = "Converter XLS para CSV";
}

<div>
    <h2>@ViewBag.Title</h2>
    
    @Html.ValidationSummary()

    <div id="upload">
        @using (Html.BeginForm("XlsToCsv", "Converter", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <input type="file" name="Arquivo" id="arquivo" accept=".xls,.xlsx" />
            <input type="submit" name="Enviar" id="Enviar" />
        }
    </div>
</div>